# Primeros pasos con Python

## 1. Ejecutando  Python

Uno de los desafíos al comenzar a trabajar con Python es instalar el software relacionado en tu computadora.

Si estás familiarizado con su sistema operativo, y especialmente si te sentís cómodo con la interfaz de línea de comandos, no vas a tener problemas para instalar Python. Pero para los principiantes, puede ser complicado  aprender sobre administración del sistema y programación al  mismo tiempo.

Para evitar ese problema, recomendamos comenzar con Jupyter Notebooks. *Jupyter Notebook* (anteriormente IPython Notebooks) es un entorno informático que permite trabajar alternadamente con programas Python y  texto enriquecido. Este que están viendo es un *cuaderno Jupyter*.  

Existen varias implementaciones de cuadernos Jupyter para comezar a trabajar con ellas:

- *Colab.* Es una versión de Jupyter Notebooks on line provista por Google. Es una fabulosa herramienta didáctica, pero tiene limitaciones que no permitiría hacer un curso como este.
- *Anaconda.* Anaconda es mucho más que Jupyter Notebooks y los que se sientan cómodos con esta aplicación podrán utilizarla  en el curso.
- *JupyterLab App.*  Es un subproducto de Anaconada, pero mucho más fácil de instalar y manejar. Es la herramiento que usaremos en este curso. 

No recomendamos usar Python puro en este curso, pues  nos harán falta numerosas bibliotecas geográficas y la complejidad de instalación de ellas es muy alta. Tanto Anaconda como JupyterLab App  vienen  "cargados"  con bibliotecas bien instaladas y nosotros agregaremos unas pocas más sin problemas.  

En muchos proyectos que involucren desarrollo de software en Python se utiliza *el modo de secuencia de comandos* o *modo script*. En este modo cada pieza de código se guarda en un archivo y luego se ejecuta este archivo, llamado *script*, en el intérprete. Por convención, los scripts de Python tienen nombres que terminan en `.py`. Si sabés cómo crear y ejecutar un script en tu computadora podrás correr los programas de las primeras clases de este curso.

Sin embargo,  a nosotros no nos hará falta usar Python puro y usaremos cuadernos Jupyter. 

Un  cuaderno Jupyter se divide en celdas de texto con formato  y  celdas de código Python. Cuando creamos una celda elegimos que tipo de celda queremos ("Markdown" para texto, "Code" para Python). Obviamente lo que estamos leyendo ahora es una celda de texto. La celda siguiente es una celda de código y la podemos ejecutar cliqueandola y haciendo `Mayus+Enter`:

In [1]:
1 + 1

2

En la celda anterior usamos a Python como calculadora y es el uso más sencillo que le podemos dar.

## 2. El primer programa


Tradicionalmente, el primer programa que se escribe en un nuevo lenguaje de programacón se llama `¡Hola, mundo!` porque todo lo que hace es mostrar las palabras `¡Hola, mundo!`. En la próxima celda de código se escribe la instrucción y te invitamos a presionar `Mayus+Enter` y ejecutar el programa

In [ ]:
print('¡Hola, mundo!')

Este es un ejemplo de una _sentencia print_, aunque en realidad no imprime nada en papel. Muestra un resultado en la pantalla. En este caso, como ya habrás comprobado, el resultado son las palabras
```
¡Hola Mundo!
```
Las comillas en el programa,  que pueden ser simples o dobles, marcan el principio y el final del texto que se mostrará y no aparecen en el resultado.

Los paréntesis indican que `print` es una _función_. Veremos funciones con profundidad más adelante.

## 3. Operadores aritméticos

Después de `Hola, mundo`, el siguiente paso es la aritmética elemental. Python proporciona _operadores_, que son símbolos especiales que representan cálculos
como suma y multiplicación.

Los operadores `+`, `-` y `*` realizan sumas, resta y multiplicación, como en los siguientes ejemplos:

In [ ]:
40 + 2

In [ ]:
43 - 1

In [ ]:
6 * 3

El operador `/` realiza la división:

In [ ]:
84 / 2

42.0

Quizás te preguntes al ejecutar la celda anterior por qué el resultado es `42.0` en lugar de `42`. La respuesta es que Python tiene dos operadores de división. el primero,  es el que ya vimos, es `/` que siempre obtiene  un número decimal o coma flotante. El segundo es `//` y es la _división entera_. Por ejemplo,

In [ ]:
84 // 2

42

devuelve `42` y

In [ ]:
20 // 3

Devuelve `6`, pues "3 entra 6 veces en 20".

Finalmente, el operador `**` realiza una exponenciación; esto es,
eleva un número a una potencia:

In [ ]:
6 ** 2

36

En algunos lenguajes de programación se utiliza `^` para la exponenciación, pero en Python `^` es un operador bit a bit llamado XOR. Si no estás familiarizado con los operadores bit a bit, el resultado te sorprenderá:

In [ ]:
6 ^ 2

4

No cubriremos los operadores bit a bit en este curso, pero podes leer acerca de
ellos en [http://wiki.python.org/moin/BitwiseOperators](http://wiki.python.org/moin/BitwiseOperators) (en inglés).

## 4. Valores y tipos

Un _valor_ es una de las entidades básicas con las que trabaja un programa, como una letra o un número. Algunos valores que hemos visto hasta ahora son `2`, `42.0` y `'¡Hola, mundo!'`.

Estos valores pertenecen a diferentes _tipos_: `2` es un _entero_, `42.0` es un _número de coma flotante_ y `'¡Hola, mundo!'`es una _cadena_, así llamada porque las letras que contiene se ubican en forma consecutiva.

Si no estás seguro de qué tipo de valor es un valor determinado, Python mismo puede decírtelo ejecutando la función `type()`.

In [ ]:
print(type(2))
print(type(42.0))
print(type('¡Hola, mundo!'))

Vemos en los resultados de ejecutar la celda anrterior que en todos aparece la palabra `class`. La palabra `class` se usa en el sentido de una categoría: un tipo es una categoría de valores.

No es sorprendente que los enteros pertenezcan al tipo `int`, las cadenas pertenezcan a `str` (por _string_ en inglés) y los números en coma flotante pertenezcan a `float`.

¿Qué pasa con valores como `'2'` y `'42.0'`?
Parecen números, pero están entre comillas como cadenas y, efectivamente son cadenas. Lo  comprobaremos ejecutando lo siguiente:

In [ ]:
print(type('2'))
print(type('42.0'))

Cuando escribís un entero grande, podés tener la tentación de usar puntos entre grupos de dígitos, como en `1.000.000`. Sin embargo,  esto no es una forma permitida de escribir un entero, por ejemplo, la ejecución de la siguiente celda de código nos devuelve un error:

In [ ]:
print(1.000.000)

La forma correcta de escribir "un millón" es `1000000`. Podemos tratar también de escribir un número decimal o coma flotante usando la notación latina. Por ejemplo, "cuatro coma cinco", podríamos intentar escribirlo como `4,5`,  y hagamos la prueba:

In [ ]:
print(4,5)

4 5

¡Eso no es lo que esperábamos en absoluto! Python interpreta la expresión `4,5` como dos enteros separados. 

Este es el primer ejemplo que hemos visto de un error semántico: el código se ejecuta sin producir un mensaje de error, pero no es lo que queremos obtener.

La forma correcta de escribir un número decimal es reemplazando  la coma por  el punto, por ejemplo "cuatro coma cinco" se escribe `4.5`

In [2]:
print(4.5 * 2)

9.0